/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

canvas {
    max-width: 800px;
    margin: 0 auto;
    display: block;
}

/* เพิ่มสไตล์สำหรับตาราง */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
    cursor: text;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#data-table th, #data-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
    cursor: text;
    background-color: white;
}

#data-table th {
    background-color: #003366;
    color: white;
    padding: 12px 8px;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-weight: bold;
}

/* เพิ่มสไตล์สำหรับการเลือกข้อความ */
#data-table tbody tr td {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
    cursor: text;
}